#title {
  color: #fff;
}

.reservas__container {
  padding: 20px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservas__container img {
    height: 100px;
}

.reservas__container  button {
    border: 0;
    background: #fff;
    transition: filter 0.2s;
    
}


.reservas__container  button svg:hover {
  filter: brightness(0.9);
  fill: red;
}

footer button {
    border: 0;
    display: flex;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold;
}

.reservas__container_amount {
  display: flex;
  align-items: center;
}

.reservas__container_amount input {
  border: 1px solid #eee;
  border-radius: 4px;
  color: #242424;
  padding: 5px;
  max-width: 30px;
  text-align: center;
}
